<div class="mat-elevation-z8">    
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>

    <!-- Creation Date Column -->
    <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
    </ng-container>

    <!-- Action Buttons Column -->
    <ng-container matColumnDef='actions'>
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> {{element.actions}}
            <button mat-button (click)="delete(element.id)" mat-flat-button color="warn"> 
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
            <button mat-button (click)="edit(element.priority, element.description, element.status)" mat-flat-button color="primary"> 
                    <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <!-- <button mat-button (click)="add(element.id, element.priority, element.description, element.status, element.createDate)" mat-flat-button color="primary" style="float: left">
                <mat-icon aria-label="Add">add</mat-icon>
            </button> -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>