<form class="new-form">
    <mat-form-field class="new-full-width">
        <input disabled value="New Entry">
    </mat-form-field>
    
    <table class="new-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="new-full-width">
        <input matInput placeholder="Name">
        </mat-form-field>
    </td>
    </tr></table>
    
    <p>
        <mat-form-field class="new-full-width">
        <textarea matInput placeholder="Secret Identity"></textarea>
        </mat-form-field>
        <mat-form-field class="new-full-width">
        <textarea matInput placeholder="Publisher"></textarea>
        </mat-form-field>
    </p>
</form>