<span class="spacer"></span>
Reload data:
<button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
</button>
      
<div class="container mat-elevation-z8">

    <div class="form">
        <mat-form-field floatPlaceholder="never" color="primary">
        <input matInput #filter placeholder="Search">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        ng update @angular/cli @angular/core

        <!-- Date Column -->
        <!-- <ng-container matColumnDef="committer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Committer</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.committer}}</mat-cell>
        </ng-container> -->

        <!-- Author column -->
        <!-- <ng-container matColumnDef="commit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Commit</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.commit}}</mat-cell>
        </ng-container> -->

        <!-- url column -->
        <ng-container matColumnDef="html_url">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Commit URL</mat-header-cell>
        <mat-cell *matCellDef="let row" style="white-space: nowrap;">{{row.html_url}}</mat-cell>
        </ng-container>

        <!-- reroute column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                Open in new tab
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="visit(i, row.html_url)">
                <mat-icon aria-label="open">open_in_new</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- If empty -->
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No commits found.
    </div>

    <!-- Paginator -->
    <mat-paginator #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
